<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Development Rule Set" Description=" " ToolsVersion="15.0">
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA0001" Action="None"/>
        <Rule Id="SA1118" Action="None"/>
        <Rule Id="SA1652" Action="None"/>
        <Rule Id="SA1408" Action="None"/>
        <Rule Id="SA1200" Action="None"/>
        <Rule Id="SA1633" Action="None"/>
        <Rule Id="SA1402" Action="None"/>
        <Rule Id="SA1309" Action="None"/>
        <Rule Id="SA1008" Action="None"/>
        <Rule Id="SA1012" Action="None"/>
        <Rule Id="SA1013" Action="None"/>
        <Rule Id="S2068" Action="None"/>
        <Rule Id="S1450" Action="None"/>
    </Rules>
</RuleSet>
